@{
    ViewData["Title"] = "Logowanie jako Gość";
}

<h2>Logowanie jako Gość</h2>
<form method="post" asp-action="GenerateOtp">
    <button type="submit" class="btn btn-primary">Zaloguj jako Gość</button>
</form>
